window#waybar {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 0 10px;
  text-shadow: 0 0 14px rgba(0, 0, 0, 0.51);
  font-size: 13px;
  font-family: "SF Pro Rounded", ui-monospace, monospace;
  font-weight: 600;
}

#window {
  padding: 0 5px;
  color: #ffffff;
  font-size: inherit;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0 20px;
}

#workspaces {
  margin-right: 12px;
}

#clock {
  margin-left: 8px;
}

#mpris {
  margin-right: 8px;
}

#privacy {
  margin-left: 10px;
}

#language, #custom-rofi, #custom-rofi, #pulseaudio, #battery, #network, #custom-control-center{
  min-width: 33px;
  margin-left: -5px;
}

#custom-weather {
  margin-left: 5px;
  margin-right: 5px;
}
    
#language {
  color: rgba(255, 255, 255, 0.6);
  font-size: 6px;
}

#window {
  padding: 0 10px;
}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.06s ease;
  font-size: 6px;
}

#workspaces button.active {
  color: #f2f2f2;
  font-size: 8px;
  margin: 0px 0px 0px 0px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

#workspaces button.inactive {
  color: #797979;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

#network:hover {
  color: #f0f0f0;
}

#workspaces button:hover {
  color: #ffffff;
}

#pulseaudio:hover {
  color: #f0f0f0;
}

/* #custom-language { */
/*   margin-right: 9px; */
/*   margin-left: 9px; */
/* } */
